In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (1.3.10)
Requirement already satisfied: six in /usr/local/lib/python3.7/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (7.10.1)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (41.6.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /usr/local/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)

In [2]:
 %load_ext sql

In [3]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt

%matplotlib inline

In [9]:
from sqlalchemy import create_engine
POSTGRES_ADDRESS = 'localhost'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = 'aem2420!'
POSTGRES_DBNAME = 'postgres'
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
cnx = create_engine(postgres_str)

In [10]:
pd.read_sql_query('''SELECT * FROM dcp.pluto192 LIMIT 5;''', cnx)

,id,geom,OBJECTID,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version,DCPEdited,Shape_Length,Shape_Area
0,1,0106000020D70800000100000001030000000100000008...,1,QN,15652,28,414,1032.01,2002,27,...,None,4.156520e+09,01/18/2007,1,1,1,19v2,None,282.243624,3491.901845
1,2,0106000020D70800000100000001030000000100000006...,2,QN,15652,29,414,1032.01,2002,27,...,None,4.156520e+09,01/18/2007,1,1,1,19v2,None,264.244290,2509.830862
2,3,0106000020D70800000100000001030000000100000008...,3,QN,15652,30,414,1032.01,2002,27,...,None,4.156520e+09,01/18/2007,1,1,1,19v2,None,282.244024,3491.904073
3,4,0106000020D70800000100000001030000000100000005...,4,QN,15652,118,414,1032.01,2002,27,...,None,4.156520e+09,01/18/2007,1,1,1,19v2,None,288.175826,3422.459441
4,5,0106000020D70800000100000001030000000100000009...,5,QN,15654,7,414,1032.01,2001,27,...,None,NaN,None,1,1,1,19v2,None,254.408770,3766.653141