In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt

%matplotlib inline

#### Database Connection

In [2]:
from sqlalchemy import create_engine
POSTGRES_ADDRESS = 'localhost'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'notebook'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_DBNAME = 'postgres'
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
cnx = create_engine(postgres_str)

#### Create a report of PLUTO records with the highest number of floors, five per borough.

In [3]:
pd.read_sql_query('''SELECT rank_filter.* FROM (
		SELECT p."Borough", p."BBL", p."Address", p."NumFloors", rank() OVER (
				PARTITION BY p."Borough"
				ORDER BY p."NumFloors" DESC
		)
		FROM dcp.pluto192 p
		WHERE p."NumFloors" IS NOT NULL
) rank_filter WHERE rank <= 5;''', cnx)

   Borough           BBL                 Address  NumFloors  rank
0       BK  3.067760e+09     1630 EAST 14 STREET       75.0     1
1       BK  3.074358e+09     2573 EAST 14 STREET       60.0     2
2       BK  3.001490e+09   138 WILLOUGHBY STREET       57.0     3
3       BK  3.001450e+09   100 WILLOUGHBY STREET       57.0     3
4       BK  3.001670e+09   350 LIVINGSTON STREET       54.0     5
5       BX  2.042500e+09     2119 ST PAUL AVENUE       62.0     1
6       BX  2.028820e+09        16 RICHMAN PLAZA       44.0     2
7       BX  2.032510e+09  40 W MOSHOLU PARKWAY S       42.0     3
8       BX  2.051350e+09       120 ERSKINE PLACE       33.0     4
9       BX  2.051410e+09      2049 BARTOW AVENUE       33.0     4
10      MN  1.000580e+09    185 GREENWICH STREET      104.0     1
11      MN  1.008350e+09            338 5 AVENUE      102.0     2
12      MN  1.001798e+09       15 LEONARD STREET       90.0     3
13      MN  1.012928e+09         432 PARK AVENUE       90.0     3
14      MN  1.010290e+09      216 WEST 58 STREET       88.0     5
15      MN  1.010290e+09      232 WEST 58 STREET       88.0     5
16      MN  1.010290e+09      226 WEST 58 STREET       88.0     5
17      MN  1.010290e+09      219 WEST 57 STREET       88.0     5
18      QN  4.097740e+09        161-79 86 AVENUE      205.0     1
19      QN  4.004370e+09          23-15 44 DRIVE       67.0     2
20      QN  4.004220e+09         42-12 28 STREET       58.0     3
21      QN  4.002640e+09    28-30 JACKSON AVENUE       54.0     4
22      QN  4.002660e+09     43-22 QUEENS STREET       54.0     4
23      SI  5.036860e+09     31 BEACHVIEW AVENUE      114.0     1
24      SI  5.012900e+09        WOODCLIFF AVENUE      100.0     2
25      SI  5.037550e+09    280 SLATER BOULEVARD       23.0     3
26      SI  5.029770e+09       30 VAUGHAN STREET       22.0     4
27      SI  5.063160e+09      561 SHELDON AVENUE       20.0     5
28      SI  5.000130e+09      165 ST MARKS PLACE       20.0     5